.button.button-small.button-assertive.icon.ion-search {
  width:28px;
  height:28px;
  min-height:28px !important;
}
.book-avatar {
  border-radius:0 !important;
  max-width:60px !important;
  left: 20px !important;
}
