.text-rtl {
  direction: rtl;
}
/*user-info*/
.user-info-top {
  p {
    margin-top: 0 !important;
  }
}

.user-info-bottom {
  border-top: 0;
  input[type="text"] {
    width: 100%;
  }
}

.user-info-image {
  max-height: 40vw;
  width: auto;
}

.chat h2 {
  white-space: normal;
}

//user-profile
.user-profile {
  .row {
    text-align: center;
  }
}

.user-profile-img {
  width: 100%;
  border-radius: 50%;
}
