/**
 * Define variables here
 */



$energized:                       #303F9F !default;
$positive:                        #3F51B5 !default;
$stable:                          #f8f8f8 !default;
$light:                           #FFFFFF !default;
$assertive:                       #FF5722 !default;
$balanced:                        #B32B00 !default;
$dark:                            #212121 !default;
$calm:                            #727272 !default;
$royal:                           #B6B6B6 !default;

$textColor:                       #ccc;
$google:                          #dd4b39;
$facebook:                        #3b5998;
$twitter:                         #00aced;

