<ion-view view-title="Featured">
  <ion-content>
    <div class="item item-divider-android item-borderless positive divider-underline">
      Popular books
    </div>
    <ion-scroll zooming="true" direction="x" class="wide-as-needed">
      <div class="row">
        <ion-spinner class="spinner-positive center" ng-if="loading"></ion-spinner>
      </div>
      <div class="list card featured-book" ng-repeat="(id, item) in items" ng-click="bookview(id)">
        <div class="item item-image">
          <img src="{{item.imageLinks.smallThumbnail}}" alt="{{item.title}}" />
        </div>
        <div class="item item-divider">
          {{item.title}}
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
