<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive">

  <!-- Library Tab -->
  <ion-tab title="Library" href="#/tab/library">
    <ion-nav-view name="tab-library"></ion-nav-view>
  </ion-tab>

  <!-- Featured Tab -->
  <ion-tab title="Featured" href="#/tab/featured">
    <ion-nav-view name="tab-featured"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

</ion-tabs>
